@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 67.5%;
}

body {
  font-family: "Inter", sans-serif;
  background: #090b1a;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main {
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
  width: 75vw;
  height: 60vh;
  border-radius: 2rem;
}

.left-section {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background: #1b1938;
  width: 50%;
  height: 100%;
  margin: auto;
  padding: 5rem 10rem 5rem 5rem;
  border-radius: 2rem 0 0 2rem;
}

.left-section h1 {
  color: white;
  font-size: calc(1.6rem + 1.2vw);
}

.left-section h1 span {
  color: #aa5cdb;
}

.left-section .heading-info {
  color: rgba(255, 255, 255, 0.75);
  font-size: calc(0.3rem + 1vw);
  margin: 3rem 0rem 5rem 0;
}

.stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.stats .stat {
  margin-right: 4rem;
}

.stats .stats-heading {
  font-size: calc(0.7rem + 1.2vw);
  margin-bottom: 1rem;
  color: white;
}

.stats .stats-info {
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.75);
  font-size: calc(0.1rem + 0.9vw);
}

.right-section {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  position: relative;
}

.right-section .image {
  border-radius: 0 2rem 2rem 0;
  background: url("../images/image-header-desktop.jpg") center center/cover;
  width: 100%;
  height: 100%;
}

.right-section .overlay {
  border-radius: 0 2rem 2rem 0;
  position: absolute;
  inset: 0 0 0 0;
  background: rgba(170, 92, 219, 0.2);
}

@media (max-width: 1153px) {
  html {
    font-size: 50%;
  }
  .card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    width: 50vw;
    height: 80vh;
  }
  .left-section {
    width: 100%;
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
    text-align: center;
    padding: 2rem 1rem;
    margin: 0;
    border-radius: 0 0 2rem 2rem;
  }
  .left-section h1 {
    padding: 0 2rem;
  }
  .left-section .heading-info {
    margin: 1rem 0;
    padding: 0 2rem;
    font-size: 1.5rem;
  }
  .stats {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .stats .stat {
    margin: 1rem 0rem;
  }
  .stats .stats-heading {
    font-size: 1.8rem;
  }
  .stats .stats-info {
    font-size: 1rem;
  }
  .right-section {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .right-section .image {
    border-radius: 2rem 2rem 0 0;
    background: url("../images/image-header-mobile.jpg") center center/cover;
    width: 100%;
    height: 100%;
  }
  .right-section .overlay {
    border-radius: 2rem 2rem 0 0;
    background: rgba(170, 92, 219, 0.2);
  }
}
/*# sourceMappingURL=styles.css.map */